<!DOCTYPE html>
<html>
<head>
  <title>User's Posts</title>
</head>
<body>
  <div class='dflex user'>
    <div class='dflex small-img'>
      <img src="<%= @user.photo %>">
    </div>
    <div class='dflex flexcol user-name-nposts'>
      <div class='username'><%= @user.name %></div>
      <div class='posts-counter'>
        posts counter: <%= @user.posts_counter %>
      </div>
    </div>
  </div>
  <% if @posts.empty? %>
    <div class='bio-post-box'>No posts yet</div>
  <% else %>
    <ul>
      <% @posts.each do |epost| %>
        <%= link_to user_post_path(@user, epost) do %>
          <li class='dflex flexcol bio-post-box'>
            <div class='bio2'>
              <%= epost.title %>
            </div>
            <br/>
            <div>
              <%= truncate(epost.text, length: 165) %>
            </div>
            <div class='posts-counter'>
              Comments: <%= epost.comments_counter %> Likes: <%= epost.likes_counter %>
            </div>
          </li>
          <ul class='bio-post-box2'>
            <% if epost.recent_comments.empty? %>
              <li>
                0 Comments
              </li>
            <% else %>
              <% epost.recent_comments.each do |ecomment| %>
                <li>
                  <%= ecomment.author.name %>:  <%= truncate(ecomment.text, length: 165) %> <br/>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ul>
    <div class="prev-next">
      <% if @page > 1 %>
        <%= link_to user_posts_path(@user, page: @page - 1) do %>
          <button>Previous Page</button>
        <% end %>
      <% end %>
      <% if @page < @total_pages %>
        <%= link_to user_posts_path(@user, page: @page + 1) do %>
          <button>Next Page</button>
        <% end %>
      <% end %>
    </div>
  <% end %>
</body>
</html>
