<!DOCTYPE html>
<html>
<head>
  <title>User's Post</title>
</head>
<body>
  <% if user_signed_in? %>
    <div class='dflex userlogs spacebetween'>
      <div>Welcome, <%= current_user.name %>!</div>
      <%= link_to 'Logout', custom_destroy_user_session_path, class: 'log' %>
    </div>
  <% else %>
    <div class='dflex userlogs spacebetween'><%= link_to 'Login', new_user_session_path, class: 'log' %></div>
  <% end %>
  <div class='bio-post-box'>
    <div class='bio'>
      <%= @post.title %>
    </div>
    <br/>
    <div>
      <%= @post.text %>
    </div>
    <div class='posts-counter'>
      Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %>
    </div>
  </div>
  <div class='form-like-button dflex flexcol'>
    <%= button_to 'Like', user_post_likes_path(@user, @post), class: 'like-button' %>
  </div>
  <ul class='bio-post-box2'>
    <% if @post.comments.empty? %>
      <li>
        0 Comments
      </li>
    <% else %>
      <% @post.comments.each do |ecomment| %>
        <li class='dflex spacebetween'>
          <div><%= ecomment.author.name %>:  <%= ecomment.text %> </div>
          <div>
            <% if can? :destroy, ecomment %>
              <%= link_to 'Delete', user_post_comment_path(ecomment.author, ecomment.post, ecomment), data: { turbo_method: :delete } %>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to new_user_post_comment_path(@user, @post), class: 'dflex see-all-button' do %>
    <button>Comment post</button>
  <% end %>
  </body>
</html>
