<!DOCTYPE html>
<html>
<head>
  <title>List of Users</title>
</head>
<body>
  <ul>
    <% @users.each do |user| %>
      <li class='dflex user'>
        <%= link_to user_path(user) do %>
          <div class='dflex small-img'>
            <img src="<%= user.photo %>">
          </div>
        <% end %>
        <div class='dflex flexcol user-name-nposts'>
          <a href="<%= user_path(user) %>">
            <div class='username'><%= user.name %></div>
          </a>
          <div class='posts-counter'>posts counter: <%= user.posts_counter %></div>
        </div>
      </li>
    <% end %>
  </ul>
</body>
</html>
